:root {
  --bs-body-font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pretendardã„´', -apple-system, BlinkMacSystemFont, system-ui;
  background: #F7F7FB
}